<article class="nextexposition">
  <h1>Next Exposition</h1>
<p>
<img src="<%= appdata.exposition.where.img %>" alt="exposition location"> Our next exposition will be on
<%= appdata.exposition.date %>  , <%= appdata.exposition.time %>  at <%= appdata.exposition.where.name %>
<%= appdata.exposition.address %> </p>
</article>