<article class="nextexposition">
  <h1>Naeste Exposition</h1>
<p>
<img src="<%= appdata.exposition.where.img %>" alt="exposition location"> Vores næste redegørelse vil være om
<%= appdata.exposition.date %>  , <%= appdata.exposition.time %>  at <%= appdata.exposition.where.name %>,
<%= appdata.exposition.where.address %> </p>
</article>