<article class="nextexposition">
  <h1>Næste Exposition</h1>
<p>
<img src="<%= appdata.exposition.where.img %>" alt="exposition location"> Vores næste åbent hus vil være den
<%= appdata.exposition.date %> , <%= appdata.exposition.time %>, ved  <%= appdata.exposition.where.name %>,
<%= appdata.exposition.where.address %> </p>
</article>