<article class="productslist">
    <section class="layout">
        <div class="products">
        <% products.forEach(function(item){ %>
      <article class="product group">
      <h3> <%= item.title %><span class="small"> By <src="/products/<%= item.shortname %>"> <%= item.name %></span>
       </h3>
      <p> <src="/products/<%= item.shortname %>"><img class="product" src="/images/products/<%= item.shortname %>_tn.jpg"
      alt="Photo of <%= item.name %>">
      <% if(page!='home') { %>
         <%  if(page ==='productList') { %>
            <%- item.summary %>
       <%    } else { %>
                    <%- item.description %>
       <%    }  %>
     <%  } %>
      </p>
      </article>
        <% }); %>
        </div>
    </section>
</article>

